$primary-color: #f76570;
$blue-color: #14b9d5;

.head {
    color: #555555;
    font-family: Poppins;
    font-size:2.5rem;
    font-weight:700;
    letter-spacing: .1rem;
    line-height:2.5rem;
    margin: 3rem 0;
}

.intro {
    width: 100%;
    height: 31rem;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
    &-text {
        position: absolute;
        bottom: 5rem;
        left: 10rem;
        z-index: 100;
        h1 {
            color: #ffffff;
            font-size: 3rem;
            font-weight: 700;
            letter-spacing: 1px;
            line-height: 3rem;
            margin-bottom: 2.4rem;
        }
        span {
            font-size: 100%;
            display: flex;
            gap: 1.6rem;
            p {
                color: #ffffff;
                font-family: Poppins;
                font-size: 1.5rem;
                letter-spacing: .2rem;
                line-height:  1.5rem;
                text-transform: uppercase;
                i {
                    font-size: 100%;
                    font-size: 1.4rem;
                    margin-right: 0.6rem;
                }
            }
        }
    }
}

.text {
    color: #9a9a9a;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    line-height: 2.7rem;
}

.content {
    display: flex;
    width: 117rem;
    margin: 8rem auto;
    .main {
        width: 66.66667%;
        padding: 1.5rem;
        &-categories {
            display: flex;
            padding: 3rem 0s;
            gap: 10.5rem;
            &--item {
                display: flex;
                gap: 1.6rem;
                img {
                    width: 4rem;
                    height: 4rem;
                }
                &__text {
                    h1 {
                        color: #555555;
                        font-family: Poppins;
                        font-size: 1.4rem;
                        font-weight: 700;
                        letter-spacing: .1rem;
                        line-height: 1.4rem;
                        text-transform: uppercase;
                    }
                    h3 {
                        color: #9a9a9a;
                        font-size: 1.4rem;
                        letter-spacing: .1rem;
                        line-height: 2.7rem;
                        font-weight: 300;
                        margin-top: 0.4rem;
                    }
                }
            }
        }
        &-bg {
            width: 100%;
            height: 36rem;
            object-fit: cover;
            object-position: center;
            // border-radius: 2rem;
            margin: 3rem 0;
        }
        &-navbar {
            display: flex;
            margin-top: 0rem;
            gap: 2.5rem;
            a {
                background-color: transparent;
                color: #9a9a9a;
                transition: all 0.2s linear;
                &:hover {
                    background-color: $primary-color;
                    color: #ffffff;
                }
                &:first-child {
                    background-color: $primary-color;
                    color: #ffffff;
                }
            }
        }
        &-description {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            margin: 4rem 0;
            h1 {
                color: #555555;
                font-size: 2.5rem;
                font-weight: 700;
                line-height: 2.5rem;
            }
            p {
                color: #9a9a9a;
                font-family: Poppins;
                font-size: 1.4rem;
                letter-spacing: .1rem;
                line-height: 2.7rem;
            }
            &-list {
                display: flex;
                flex-direction: column;
                gap: 0;
            }
            &-item {
                display: flex;
                border-color: #f1f1f1;
                border-style: solid none;
                border-width:.1rem 0 0;
                padding: 2.0rem;
                color:#a3a3a3;
                display:flex;
                flex-wrap:wrap;
                letter-spacing:.1rem;
                line-height:2.7rem;
                font-weight: 200;
                h3 {
                    color: #555555;
                    width: 50%;
                    font-weight: 400;
                    font-size: 1.4rem;
                }
                section {
                    width: 50%;
                    padding-left: 3rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1.2rem;
                    span {
                        color: #9a9a9a;
                        font-size: 1.4rem;
                        display: flex;
                        align-items: center;
                        gap: 2.4rem;
                        // margin-top: 1.2rem;
                        i {
                            font-size: 100%;
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
        &-photos {
            width: 100%;
            height: fit-content;
            border-color: #f1f1f1;
            border-style: solid none;
            border-width: 1px 0px 1px;
            padding: 4rem 0;
            h1 {
                color: #555555;
                font-family: Poppins;
                font-size:2.5rem;
                font-weight:700;
                letter-spacing: .1rem;
                line-height:2.5rem;
                margin-bottom: 3rem;
            }
            &-list {
                width: 100%;
                height: fit-content;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 15rem 15rem;
                grid-gap: 1.5rem;
                grid-template-areas: 
                    "h1 h2 h3"
                    "h4 h4 h3";
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 8px;
                    &:first-child {
                       grid-area: h1;
                    }
                    &:nth-child(2) {
                        grid-area: h2;
                    }
                    &:nth-child(3) {
                        grid-area: h3;
                    }
                    &:nth-child(4) {
                        grid-area: h4;
                    }
                }
            }
        }
        &-program {
            h1 {
                padding: 1rem 0;
            }
            &-days {
                margin-top: 1.5rem;
                &-item{
                    display: flex;
                    align-items: flex-start;
                    transition: all 0.3s lin;
                    // gap: 1rem;
                    &--icon {
                        background-color: $primary-color;
                        width: fit-content;
                        height: fit-content;
                        margin-top: 1.5rem;
                        cursor: pointer;
                        i {
                            font-size: 1.7rem;
                            color: #ffffff;
                            line-height: 1.7rem;
                            padding: 0.5rem 0.6rem;
                        }
                        .minus-icon {
                            display: none;
                        }
                    }
                    &--text {
                        margin-left: 3rem;
                        h1{ 
                            color:#9a9a9a;
                            font-size:1.7rem;
                            letter-spacing: .1rem;
                            line-height:1.7rem;
                            margin:1.0rem .0rem;
                            font-weight: 300;
                            span {
                                font-size: 100%;
                                color: #555555;
                                text-transform: uppercase;
                                font-weight: 600;
                            }
                        }
                        p {
                            margin-top: 2rem;
                            display: none;
                        }
                    }
                    &.open-program {
                        .minus-icon {
                            display: block;
                        }
                        .plus-icon {
                            display: none;
                        }
                        .text {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .sub {
        width: 33.33333%;
        padding: 0 1.5rem;
        &-card {
            width: 37rem;
            margin: auto;
            &__price {
                letter-spacing: .1rem;
                padding: 4.0rem;
                text-align: center;
                background-color: $primary-color;
                h1 {
                    color: #ffffff;
                    display: inline;
                    font-size:3.2rem;
                    letter-spacing:.1rem;
                    line-height:3.2rem;
                    text-align:center;
                    font-weight: 400;
                }
            }
            &__input {
                border-color: #f1f1f1;
                border-style: solid;
                border-width:.1rem;
                color:#a3a3a3;
                padding: 3.0rem 3.0rem 4.0rem;
                width: 100%;
                &--item {
                    display: flex;
                    gap: 1.4rem;
                    width: 100%;
                    justify-content: space-between;
                    margin: 2.0rem 0;
                    input {
                        width: 50%;
                        background-color: #f9f9f9;
                        border-color:#f1f1f1;
                        border-radius: 3.0rem;
                        border-style:solid;
                        border-width:.1rem;
                        color:#a3a3a3;
                        display:inline-block;
                        font-family:Poppins;
                        font-size: 1.5rem;
                        padding: 1.0rem 0 1.0rem 2.0rem;
                    }
                    .w-100 {
                        width: 100%;
                    }
                    textarea {
                        background-color: #f9f9f9;
                        border-color: #f1f1f1;
                        border-radius: 3.0rem;
                        border-style: solid;
                        border-width: .1rem;
                        color: #a3a3a3;
                        display: inline-block;
                        font-size: 1.5rem;
                        padding: 1.0rem 2.0rem;
                        width: 100%;
                        min-height: 11.3rem;
                    }
                    
                }
                button {
                    background-color: $primary-color;
                    width: 100%;
                    color: #ffffff;
                    margin-top: 1rem;
                }
            }
        }
        &-img {
            width: 37.0rem;
            margin: 4.0rem auto;
        }
        &-search {
            input {
                background-color: #f9f9f9;
                border-color: #f1f1f1;
                border-radius: 3.0rem;
                border-style: solid;
                border-width: .1rem;
                color: #a3a3a3;
                display: inline-block;
                font-family: Poppins;
                font-size: 1.5rem;
                font-weight: 100;
                padding: 1.0rem 2.0rem;
                width: 65%;
            }
            button {
                background-color: $blue-color;
                color: #ffffff;
                margin-left: 1.2rem;
                padding: 1.5rem 2.0rem;
            }
        }
        &-packages {
            width: 37.0rem;
            margin: 4.0rem auto;
            &-item {
                height: 43.2rem;
                .destinations-item-img {
                    &-bg {
                        height: 43.2rem;
                    }
                }
                .button-big {
                    margin-top: 1.0rem;
                    color: $blue-color;
                    padding: .5rem auto;
                    line-height: 1.4rem;
                }
            }
        }
        &-tags {
            &-list{
                display: flex;
                gap: 1.0rem;
                flex-wrap: wrap;
                span {
                    border-color: #f1f1f1;
                    border-radius: 3.0rem;
                    border-style: solid;
                    border-width: .1rem;
                    color: #9a9a9a;
                    display: inline-block;
                    letter-spacing: .1rem;
                    line-height: 1.2rem;
                    font-size: 1.2rem;
                    margin: .5rem .5rem .5rem 0;
                    padding: .8rem 2.0rem;
                }
            }
            &-footer {
                margin-top: 4.0rem;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                &-wrap {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    h3 {
                        font-size: 1.4rem;
                        letter-spacing: .1rem;
                        line-height: 2.7rem;
                        text-align: left;
                        color: #9a9a9a;
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                    span {
                        background-color: $primary-color;
                        border-radius: 3.0rem;
                        display:  inline;
                        font-size: 1.1rem;
                        letter-spacing: .1rem;
                        line-height: 2.7rem;
                        padding: 0 2.0rem 0;
                        color: #ffffff;
                        text-transform: uppercase;
                    }
                }
            }
        }
        &-comment {
            width: 37rem;
            margin: 3rem auto;
            &--text {
                width: 100%;
                padding: 2rem;
                background-color: #14b9d5;
                position: relative;
                p {
                    color: #ffffff;
                    font-size: 1.4rem;
                    letter-spacing:.1rem;
                    line-height:2.7rem;
                }
                &::after {
                    content: "";
                    border-color:  #14b9d5;
                    border-style: solid;
                    border-top: 1.5rem solid #14b9d5;
                    border-left: 1.5rem solid transparent;
                    border-right: 1.5rem solid transparent;
                    border-bottom: 1.5rem solid transparent;
                    position: absolute;
                    bottom: -3.0rem;
                    left: 2.0rem;
                }
            }
            &--info {
                display: flex;
                margin-top: 3rem;
                img {
                    width: 7.0rem;
                    height: 7.0rem;
                    border-radius: 100%;
                    margin-right: 1.6rem;
                }
                &__text {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    h2 {
                        color: #555555;
                        font-size: 1.7rem;
                        letter-spacing: .1rem;
                        line-height: 1.7rem;
                        text-transform: uppercase;
                    }
                    p {
                        color: #9a9a9a;
                        font-size: 1.4rem;
                        letter-spacing: .1rem;
                        line-height: 2.7rem;
                    }
                }
            }
        }
    }
}

a.button-big {
    margin-top: 1.0rem;
    color: $blue-color;
    padding: .5rem auto;
    line-height: 1.4rem;
}

.packages-list {
    justify-content: flex-start;
}


@media (min-width: 640px) and (max-width: 1024px) {
    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 2rem;
        // overflow: hidden;
        .main {
            width: 100%;
            &-photos {
                &-list {
                    width: 100%;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 20rem 25rem 40rem;
                    grid-gap: 1.5rem;
                    grid-template-areas: 
                    "h1 h2"
                    "h4 h4"
                    "h3 h3";
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 8px;
                        &:first-child {
                           grid-area: h1;
                        }
                        &:nth-child(2) {
                            grid-area: h2;
                        }
                        &:nth-child(3) {
                            grid-area: h3;
                        }
                        &:nth-child(4) {
                            grid-area: h4;
                        }
                    }
                }
            }
        }
        .sub {
            width: 100%;
            gap: 3rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 30rem 30rem 40rem;
            grid-gap: 1.5rem;
            grid-template-areas: 
            "h1 h2"
            "h1 h3"
            "h4 h5";
            margin-top: 2rem;
            &-card{
                grid-area: h1;
                margin-top: 0;
                width: 100%;
                padding-right: 1rem;
            }
            &-img {
                grid-area: h2;
                width: 100%;
                height: auto;
                margin-top: 0;
            }
            &-search {
                grid-area: h3;
                margin-top: 7rem;
            }
            &-packages {
                display: none;
            }
            &-tags {
                grid-area: h4;
            }
            &-comment {
                grid-area: h5;
            }
        }
    }
}

@media (max-width: 640px) {
    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 2rem;
        // overflow: hidden;
        .main {
            width: 100%;
            &-photos {
                &-list {
                    width: 100%;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 40rem 40rem;
                    grid-gap: 1.5rem;
                    grid-template-areas: 
                    "h4 h4"
                    "h3 h3";
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 8px;
                        &:first-child {
                           grid-area: h1;
                           display: none;
                        }
                        &:nth-child(2) {
                            grid-area: h2;
                            display: none;
                        }
                        &:nth-child(3) {
                            grid-area: h3;
                        }
                        &:nth-child(4) {
                            grid-area: h4;
                        }
                    }
                }
            }
        }
        .sub {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            margin-top: 2rem;
            &-card{
                margin-top: 0;
                width: 100%;
                padding: 0 5rem;
            }
            &-img {
                width: 100%;
                height: auto;
                margin-top: 0;
            }
            &-search {
                margin-top: 7rem;
                display: none;
            }
            &-packages {
                display: none;
            }
            &-comment {
                display: none;
            }
            &-tags {
                &-footer {
                    &-wrap {
                        width: 50%;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}