$purple-color: #ba71da;
$green-color: #1bbc9b;
$lightred-color: #f76570;
$blue-color: #14b9d5;
$yellow-color: #ffd205;
$orange-color: #f4a67e;
$title-color: #555555;
$text-color: #9a9a9a;

$textfont: 1.4rem;
$titlefont: 5.0rem;